# Generic editor
*~
*.bak

# vim
*.swp
Session.vim
Sessionx.vim
.netrwhist

# ctags
tags
.tags

# Visual studio code
.vscode

# Windows
Thumbs.db
$RECYCLE.BIN/

# Linux
.directory
.Trash-*

# virtualenv (if using meson from pip)
env/
venv/
.env/
.venv/

# Ignore all build directories
/build*/

# Ignore automatically created version tag
.version_tag
